.vehicle-filters {
    width: 93%;
    height: 35px;
    margin: 6px auto 10px auto;
}

#wrapper {
    max-width: 420px;
    height: 100%;
    input,
    select,
    button {
        background-color: #fff;
        border: 1px solid #434343;
        height: 100%;
    }
    input {
        width: 45%;
        border-right: 0;
        padding-left: 4px;
        border-radius: 4px 0 0 4px;
    }
    select {
        width: 35%;
        border-right: 0;
    }
    button {
        width: 20%;
        border-radius: 0 4px 4px 0;
    }
}

#create-wrapper {
    width: 93%;
    margin: 0 auto 10px auto;
}

.create-vehicle {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    max-width: 420px;
    height: 45px;
    border: 1px solid #434343;
    border-radius: 4px;
    span {
        vertical-align: middle;
    }
}

.vehicle-content {
    height: fit-content;
    width: 93%;
    margin: 0 auto;

    h2 {
        width: 100%;
        margin-bottom: 2%;
    }
}

.vehicle-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, min-content);

    column-gap: 4%;
    row-gap: 4%;
    margin-bottom: 5%;

    @media only screen and (min-width: 653px) {
        grid-template-columns: repeat(3, min-content);
    }

    @media only screen and (min-width: 886px) {
        grid-template-columns: repeat(4, min-content);
    }

    @media only screen and (min-width: 1200px) {
        grid-template-columns: repeat(5, min-content);
        row-gap: 7%;
    }
}

.vermelho {
    background-color: tomato;
}

.azul {
    background-color: aqua;
}

.branco {
    background-color: white;
}
